<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="SalesDbConnectionString"
			 connectionString="Data Source=JULIAOHORODNICH\SQLEXPRESS;Initial Catalog=Sales;Integrated Security=True;Connect Timeout=2;"/>
	</connectionStrings>-->
	<connectionStrings>
		<add name="SalesDbConnectionString"
			 connectionString="Data Source=JULIAOHORODNICH\SQLEXPRESS;
			 Integrated Security=True;
			 Initial Catalog=Sales;
			 Connect Timeout=30;
			 Encrypt=False;
			 TrustServerCertificate=False;
			 ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>